# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../../../../../../../../:\Users\Crystel Montero\Documents\Universidad\2021\I semestre\Bases II\Proyectos\basesProyectIII\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
